/*I selve kroppen setter vi et bilde som bakgrunn*/
body{
	background-image: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/1381210_10152001786697464_1069472052_n.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;
	height: 100%;
	width:100%;
	
	
	
}
/*midtstilt blokk med gjennomsiktig bakgrunn */
#centre{
	background-color: white;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.5); 
	max-width: 80%;
	min-width: 40em;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 15px;
	padding-top: 1em;
	
}
/*header inneholder en overskrift og en logo)*/
header{	
	max-width: 1024px;
	margin-left: 1em;
	font-family: 'Stoke', serif;
	font-size: 20px;
	background-color: white;
	border: solid black 2px;
	height: 4em;
	width: 1
	padding-left: 1em;
		background: -webkit-linear-gradient(#ECECEC 65%, #AAAAAA 15%, #ECECEC);
		background: -o-linear-gradient(#ECECEC 65%, #AAAAAA 15%, #ECECEC);
		background: -moz-linear-gradient(#ECECEC 65%, #AAAAAA 15%, #ECECEC);
		background: linear-gradient(#ECECEC 65%, #AAAAAA 15%, #ECECEC);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.overskrift{
	padding-right: 1em;
	padding-left: 1em;

	float: left;
}	
#logo{
	float: right;
	margin-left: 2em;
}
/*knapper til nav-bar for elegant navigasjon innad på siden*/
.menu_button{
		width: 3em;
		height: 2em;
		padding-left:1em;
		padding-right:1em;
		background: -webkit-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -o-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -moz-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		border: solid black 1px;
		
		
}
#button_1{
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}
#button_5{
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}
nav{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-shadow: 2px 1px #5B6262;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	min-width: 40em;
	
}
/* farger på nav linker og respektive knapper ved ulike tilstander*/
a:link{color: white;
	text-decoration:none;}
a:visited{color: white;
	text-decoration:none;}
a:hover{color: red; 
	text-decoration:none;
	background: #607171
	background: -webkit-linear-gradient(#ECECEC 5%, #607171 85%, #ECECEC);
	background: -o-linear-gradient(#ECECEC 5%, #607171 85%, #ECECEC);
	background: -moz-linear-gradient(#ECECEC 5%, #607171 85%, #ECECEC);
	background: linear-gradient(#ECECEC 5%, #607171 85%, #ECECEC);
}
a:active{color: blue;
	text-decoration:none;
	background: #607171
	background: -webkit-linear-gradient(#607171, #ECECEC 85%, #607171);
	background: -o-linear-gradient(#607171, #ECECEC 85%, #607171);
	background: -moz-linear-gradient(#607171, #ECECEC 85%, #607171);
	background: linear-gradient(#607171, #ECECEC 85%, #607171);
}
/*innholdsformatering*/
#content{
		padding:2em;
		background: -webkit-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -o-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -moz-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		max-width: 80%;
		min-width: 400px;
		margin-left: auto;
		margin-right: auto;
		border: solid #7E8080 1px;
		border-radius: 15px;

}
/*bar langs bunnen av siden, som inneholder footer*/
#bottom_bar{
		height: 4em;
		background-color: #D2D2D8;
		border: solid black 2px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		padding: 1em;
		background: -webkit-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -o-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -moz-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		text-align:center;
		
}
