/*I selve kroppen setter vi et bilde som bakgrunn*/
body{
	background-image: url("bilder/backdrop.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;

	
}
/*midtstilt blokk med gjennomsiktig bakgrunn */
#centre{
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.5); 
	max-width: 80%;
	min-width: 60em;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 15px;
	padding-top: 1em;
	
}
/*header inneholder en overskrift og en logo)*/
header{	
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Stoke', serif;
	font-size: 20px;
	background-color: white;
	border: solid black 1px;
	height: 6em;
	padding: 1em;
		background: -webkit-linear-gradient(#4D6277 65%, #AAAAAA 15%, #4D6277);
		background: -o-linear-gradient(#4D6277 65%, #AAAAAA 15%, #4D6277);
		background: -moz-linear-gradient(#4D6277 65%, #AAAAAA 15%, #4D6277);
		background: linear-gradient(#4D6277 65%, #AAAAAA 15%, #4D6277);
	border-radius: 15px;
}
.overskrift{
	padding-right: 1em;
	padding-left: 1em;

	float: left;
}	
#logo{
	float: right;
	margin-left: 2em;
}
#logostor{
		margin-left: 4.5em;
		position: relative;
		width: 20em;
		height: 5em;
}
/*knapper til nav-bar for elegant navigasjon innad på siden*/
.menu_button{
		width: 3em;
		height: 2em;
		padding-left:1em;
		padding-right:1em;
		background: -webkit-linear-gradient(#4D6277 5%, #AAAAAA 85%, #4D6277);
		background: -o-linear-gradient(#4D6277 5%, #AAAAAA 85%, #4D6277);
		background: -moz-linear-gradient(#4D6277 5%, #AAAAAA 85%, #4D6277);
		background: linear-gradient(#4D6277 5%, #AAAAAA 85%, #4D6277);
		border: solid black 1px;
		
		
}
#button_1{
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}
#button_5{
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}
nav{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-shadow: 2px 1px #5B6262;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	min-width: 40em;
	
}
/* farger på nav linker og respektive knapper ved ulike tilstander*/
a:link{color: white;
	text-decoration:none;}
a:visited{color: white;
	text-decoration:none;}
a:hover{color: yellow; 
	text-decoration:none;
	background: -webkit-linear-gradient(#4D6277 5%, #607171 85%, #4D6277);
	background: -o-linear-gradient(#4D6277 5%, #607171 85%, #4D6277);
	background: -moz-linear-gradient(#4D6277 5%, #607171 85%, #4D6277);
	background: linear-gradient(#4D6277 5%, #607171 85%, #ECECEC);
}
a:active{color: #FF6600;
	text-decoration:none;
	background: -webkit-linear-gradient(#4D6277 5%, #607171 85%, #4D6277);
	background: -o-linear-gradient(#4D6277 5%, #607171 85%, #4D6277);
	background: -moz-linear-gradient(#4D6277 5%, #607171 85%, #4D6277);
	background: linear-gradient(#4D6277 5%, #607171 85%, #4D6277);
}
/*innholdsformatering*/
#content{
		padding:2em;
		background: -webkit-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -o-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -moz-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		max-width: 80%;
		min-width: 400px;
		margin-left: auto;
		margin-right: auto;
		border: solid #7E8080 1px;
		border-radius: 15px;

}
/*kontakt skjema*/
#kontakt_skjema{
		width: 38em;
		background: -webkit-linear-gradient(#4D6277 , #001F3D 85%, #4D6277);
		background: -o-linear-gradient(#4D6277, #001F3D 85%, #4D6277);
		background: -moz-linear-gradient(#4D6277, #001F3D 85%, #4D6277);
		background: linear-gradient(#4D6277, #001F3D 85%, #4D6277);
		padding: 1em;
		border: solid black 1px;
		border-radius: 15px;
}

.mail_form{
		color: white;
}
#group{
	float: left;
}
/*easter_egg*/
#hidden_shell{
			
		float:left;
		position: inherit;
		z-index: auto;

		
		width: 240px;
		height: 150px;
		margin-left: 12em;
		background-color: green; 
}
#shell_img{
		border: solid black 2px;
		position: absolute;
		z-index: auto;
}
#easter_object{
		left: 10em;
		position: relative;
		
		margin-right: auto;
		margin-bottom: auto;
		border-radius: 30px;
		width: 4em;
		height: 2em;
		z-index: auto;
}
#easter_info{
		padding: 1em;
		width: 500px;
}
#A{
		
		padding: 1em;
		float: left;
}
#e-post_melding{
		clear: both;
}
/*piano.css*/
div .ebony, .ivory{
	float: left;
}
#piano{
	width: 29em;
	height: 16em;
	background-color: black;
	border-radius: 2em;
}
audio .piano{
		display:none;
}
#tittel{
	left: 23em;
	top: 2em;
	position: relative;
	color: white;
	z-index: auto;
}
#keys{
	position: relative;
	top: 4em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: 2em; 
	width: 25em;
	height: 10em;
	background-color: #B20000;
}
#blacks1{
	top: 0.5em;
	position: absolute;
	margin-left: 1em;
	z-index:1;
}
#blacks2{
	top: 0.5em;
	position: absolute;
	margin-left: 10.5em;
	z-index:1;
}
#whites{
	position: relative;
	top: 0.5em;
	width: 30em;
	height: 10em;
	z-index:0;
}
.ebony
{
		
	border: solid black 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;
	width: 3em;
	height: 10em;
}
.ivory
{
	margin-left: 1em;
	border: solid black 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: grey;
	height: 5em;
	width: 2em;	
}
/*knapper*/
.button{
		width: 3em;
		height: 2em;
		padding-left:1em;
		padding-right:1em;
		background: -webkit-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -o-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: -moz-linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		background: linear-gradient(#ECECEC 5%, #AAAAAA 85%, #ECECEC);
		border: solid black 1px;
}
/*bar langs bunnen av siden, som inneholder footer*/
#bottom_bar{
		height: 4em;
		background-color: #D2D2D8;
		border: solid black 1px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		padding: 1em;
		background: -webkit-linear-gradient(#26313C 5%, #001F3D 85%, #4D6277);
		background: -o-linear-gradient(#26313C 5%, #001F3D 85%, #4D6277);
		background: -moz-linear-gradient(#26313C 5%, #001F3D 85%, #4D6277);
		background: linear-gradient(#26313C 5%, #001F3D 85%, #4D6277);
		text-align:center;
		
}
footer{
	color: white;
}
#forside_tekst{
		text-align: center;
}
/*audio_gallery in book_studio.php*/
#sound, #skjul{
		position: relative;
		left: 1em; 
		padding: 1em;
		width: 17em;
		height: 1em;
		color: white;
		text-shadow: 2px 1px #5B6262;				
		border-radius: 10px; 
		-webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                 cursor: pointer;
}
 #fader{ 
  		background-image: url('fader_background.png');
  		background-size: 100% 100%;
  		border: solid black 2px;
  		border-radius: 10px;
  		width: 100%;
  		height: 3em;
}
#soundcloud{ 
		width: 100%;
		border: solid black 2px;
} 
/*book musiker buttons*/
#vis1, #skjul1, #vis2, #skjul2{
				color: white;
				margin-left: 1em;
				width: 5em;
				height: 1em;
				padding: 10px;
				border-radius: 8px;
				position: relative;
				text-shadow: 2px 1px #5B6262;				
				border-radius: 10px; 
				-webkit-touch-callout: none;
                		-webkit-user-select: none;
              			-khtml-user-select: none;
               			-moz-user-select: none;
               			-ms-user-select: none;
            		 	 cursor: pointer;
}  
.fader{
 	background-image: url('fader_background.png');
 	background-size: 100% 100%;
 	width: 100%;
 	height: 2.5em;
 	border: solid black 2px;
 	border-radius: 10px;               
}
#joakim, #andersen{
			font-size: 2em;
			text-align: center;
}
