div{
	float: left;
}
#piano{
	width: 29em;
	height: 16em;
	background-color: black;
	border-radius: 2em;
}
audio{
		display:none;
}
#tittel{
	left: 23em;
	top: 4em;
	position: absolute;
	color: white;
	z-index: auto;
}
#keys{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: 2em; 
	margin-top: 5em;
	width: 25em;
	height: 10em;
	background-color: #B20000;
}
#blacks1{
	top: 6em;
	position: absolute;
	margin-left: 1em;
	z-index:1;
}
#blacks2{
	top: 6em;
	position: absolute;
	margin-left: 10.5em;
	z-index:1;
}
#whites{
	position: absolute;
	top: 6em;
	width: 30em;
	height: 10em;
	z-index:0;
}
.ebony
{
		
	border: solid black 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;
	width: 3em;
	height: 10em;
}
.ivory
{
	margin-left: 1em;
	border: solid black 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: grey;
	height: 5em;
	width: 2em;	
}
