	
div.boks	
	{
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		width: 85%;
		padding: 3em;
	}

div.boks2
	{	
		padding: 1em;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
	}
div.arbeid{
			page-break-inside: avoid;
			page-break-after: always;
	
}
div.skisse{
		page-break-before: always;
		page-break-inside: avoid;
}
div.goals{
		page-break-before: always;
		page-break-inside: avoid;
}


.noprint{

        display: none;

}
nav.noprint{
	
	display:none;
}
